page-buildcard {

	/* .card {
		width: 20em;
		margin: 0 auto;
		border: 1px solid black;
		height: 30%;
	} */

	.header {

		text-align: center;
		color: lightgray;
		line-height: 2em;
	}

	.subheader {
		
		padding: .3em; 
		color: lightgray;
	}

	.background {
		font-family: Raleway;
	}
}
